# 3rd-Party Directories
/3rd-Party/LibPHX/Assets
/3rd-Party/LibPHX/Ext
/Assets/Models/Nanosuit
/Assets/Models/Sponza

# Build Directories
/[Bb]uild/
/[Cc]ache/

# Development Files
*.blend
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.xcf

# Development Directories
.vs/
.vscode/

# Miscelaneous Directories
ToDo/

# Miscelaneous Files
*.drawio.bkp
*.log
